/**
 * @file
 * Styles for Sheet's breadcrumbs.
 */

.breadcrumb {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.929em;
}
.region-breadcrumb {
  padding: 0 15px 0.25em;
}
