/**
* @file
* Visual styles for Sheet's featured bottom component.
*/

.featured-bottom {
  background: rgba(30, 50, 10, 0.08);
  border-top: 1px solid #e7e7e7;
}
.featured-bottom .region {
  padding: 0 20px;
}
@media all and (min-width: 560px) {
  .featured-bottom .region {
    float: left; /* LTR */
    position: relative;
    box-sizing: border-box;
    padding: 20px 15px 30px;
    width: 33%;
  }
  [dir="rtl"] .featured-bottom .region {
    float: right;
  }
}
@media all and (min-width: 851px) {
  .featured-bottom .region {
    padding: 0 20px;
  }
}
.featured-bottom h2 {
  color: #000;
  font-size: 1.4em;
  margin-bottom: 0.6em;
  text-shadow: 0 1px 0 #fff;
  text-align: center;
  line-height: 1em;
}
.featured-bottom .block {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #dfdfdf;
  line-height: 1.3em;
}
.featured-bottom .block:last-child {
  border-bottom: none;
}
.featured-bottom ul,
.featured-bottom ol {
  padding-left: 0;
}
.featured-bottom ul li,
.featured-bottom ol li {
  list-style: none;
}
.featured-bottom input:not(.form-submit) {
  width: 185px;
}
.region-featured-bottom-third .feed-icon {
  float: right;
}
.region-featured-bottom-second .block-system-powered-by-block {
  text-align: center;
}
