/**
 * @file
 * Visual styles for Sheet's main-content component.
 */

.main-content .section {
  padding: 0 15px;
}
.main-content h2 {
  margin-bottom: 2px;
  font-size: 1.429em;
  line-height: 1.4;
}

@media all and (min-width: 851px) {
  .main-content {
    float: left; /* LTR */
    position: relative;
  }
  [dir="rtl"] .main-content {
    float: right;
  }
  .layout-two-sidebars .main-content {
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
  }
  .layout-one-sidebar .main-content {
    width: 75%;
  }
  .layout-no-sidebars .main-content {
    width: 100%;
  }
  .layout-sidebar-first .main-content {
    margin-left: 25%; /* LTR */
    margin-right: 0; /* LTR */
  }
  [dir="rtl"] .layout-sidebar-first .main-content {
    margin-left: 0;
    margin-right: 25%;
  }
  .layout-sidebar-second .main-content {
    margin-right: 25%; /* LTR */
    margin-left: 0; /* LTR */
  }
  [dir="rtl"] .layout-sidebar-second .main-content {
    margin-right: 0;
    margin-left: 25%;
  }
}

/**
 * @todo Decide if we want to keep this.
 * It should be in layout.css but it would be
 * overridden there by block.css.
 */
.region-content ul,
.region-content ol {
  margin: 1em 0;
  padding: 0 0 0.25em 15px; /* LTR */
}
[dir="rtl"] .region-content ul,
[dir="rtl"] .region-content ol {
  padding: 0 15px 0.25em 0;
}
